@import "./base/mixins";
@import "./base/media_mixins";

$eventsSectionColor: #e8e8e8;
$eventsSectionTitleColor: #037693;
$eventsSectionTitleUnderlineColor: #037693;
$cardInnerColor: white;
$cardInnerBoxShadowColor: rgba(0, 0, 0, 0.2);
$cardTitleColor: white;
$cardLineColorGreen: #4ca59a;
$cardLineColorRed: #f26250;
$cardLineColorYellow: #f0a765;
$cardButtonTextColor: white;
$cardButtonColorGreen: #4ca59a;
$cardButtonColorRed: #f26250;
$cardButtonColorYellow: #f0a765;
$cardBorderColor: white;
$cardColorRedBg: #f26351;
$cardColorYellowBg: #f0a765;
$cardColorCyanBg: #4da59a;
$cardButtonSmBgColor: white;
$cardParagraphSmColor: white;

.events-section {
  display: flex;
  flex-flow: column nowrap;
  background-color: $eventsSectionColor;
  padding-bottom: 52px;
}

.events-section__head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0 95px 0;
}

.events-section__title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50pt;
  letter-spacing: 6px;
  color: $eventsSectionTitleColor;
  margin-left: -22px;
}

.events-section__title::after {
  content: "";
  display: block;
  height: 5px;
  background-color: $eventsSectionTitleUnderlineColor;
  border-radius: 20px;
  width: 47%;
  margin-top: 12px;
  margin-left: 3px;
}

.events-section__body {
  margin: 0 auto;
  width: 70.9%;
  display: flex;
}

.card {
  position: relative;
  flex: 1;
  width: calc(100% / 3);
}

.card__inner {
  background-color: $cardInnerColor;
  @include box-shadow(0px 2px 2px 1px $cardInnerBoxShadowColor);
}

.card:first-child .card__inner {
  margin-right: 70px;
}

.card:last-child .card__inner {
  margin-left: 44px;
}

.card:nth-child(2) {
  z-index: 1;
  margin: 0 -97px;
}

.card:nth-child(2) .card__inner {
  height: calc(100% + 49px);
  margin-top: -45px;
  box-shadow: 0 0 25px rgba(0 0 0 / 25%);

  .card__body {
    padding: 10px 0 45px 0;
  }

  .card__svg {
    margin-left: -9px;
    height: 90px;
    width: auto;
  }

  .card__title {
    line-height: 93px;
    margin: 32px 0;
    margin-right: 8px;
  }

  .card__title_bold {
    font-size: 59pt;
  }

  .card__p {
    margin: 4px 0 19px 0;
  }

  .card__button {
    padding: 8px 31.7px;
    margin-left: -2px;
    font-size: 22.3pt;
  }
}

.card__head {
  background-image: url("../images/main/bg-img-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.card__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 52pt;
  color: $cardTitleColor;
  line-height: 1.2em;
  margin: 32px 0;
}

.card__title_bold {
  font-weight: 600;
}

.card__line {
  height: 4px;
  border: 0;
  margin: 3px 0;
}

.card__line_color_green {
  background-color: $cardLineColorGreen;
}
.card__line_color_red {
  background-color: $cardLineColorRed;
}

.card__line_color_yellow {
  background-color: $cardLineColorYellow;
}

.card__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 14px 0 42px 0;
  box-sizing: border-box;
}

.card__svg {
  margin-left: 11px;
  height: 70px;
  width: 70px;
}

.card__p {
  width: 74%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.5em;
  margin: 4px 0 9px 0;
}

.card__button {
  outline: none;
  cursor: pointer;
  border: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20pt;
  border-radius: 31.88px;
  padding: 6px 27px;
  color: $cardButtonTextColor;
  margin-left: 12px;
}

.card__button_color_green {
  background-color: $cardButtonColorGreen;
}
.card__button_color_red {
  background-color: $cardButtonColorRed;
}

.card__button_color_yellow {
  background-color: $cardButtonColorYellow;
}

@include lg {
  .events-section {
    padding-bottom: 357px;
  }

  .events-section__head {
    margin: 150px 0 199px 0;
  }

  .events-section__title {
    margin-left: -6px;
    font-size: 48pt;
    letter-spacing: 5px;

    &::after {
      height: 5px;
      margin-left: 3px;
      margin-top: 11px;
    }
  }

  .events-section__body {
    width: 96.9%;
  }
}

@include sm {
  .events-section {
    padding-bottom: 0;
  }

  .events-section__head {
    display: none;
  }

  .events-section__body {
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
  }

  .card {
    width: 100%;
    border-top: 3px solid $cardBorderColor;
    border-bottom: 3px solid $cardBorderColor;
  }

  .card__inner {
    @include box-shadow(initial);
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card:last-child .card__inner {
    margin: 0;
  }

  .card:first-child .card__inner {
    margin: 0;
  }

  .card__head {
    background: none;
  }

  .card_color_red {
    background-image: linear-gradient(
        0deg,
        rgba($cardColorRedBg, 0.85),
        rgba($cardColorRedBg, 0.85)
      ),
      url("../images/events/bg-red-sm-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .card_color_cyan {
    background-image: linear-gradient(
        0deg,
        rgba($cardColorYellowBg, 0.85),
        rgba($cardColorYellowBg, 0.85)
      ),
      url("../images/events/bg-red-sm-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .card_color_yellow {
    background-image: linear-gradient(
        0deg,
        rgba($cardColorCyanBg, 0.85),
        rgba($cardColorCyanBg, 0.85)
      ),
      url("../images/events/bg-red-sm-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .card__button_color_green {
    color: $cardButtonColorYellow;
  }
  .card__button_color_red {
    color: $cardButtonColorRed;
  }

  .card__button_color_yellow {
    color: $cardButtonColorGreen;
  }

  .card__title {
    font-size: 44pt;
    letter-spacing: 6px;
    color: $cardTitleColor;
  }

  .card__title_bold {
    font-size: 51pt;
  }

  .card__body {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .card__button {
    background-color: $cardButtonSmBgColor;
    margin-bottom: 36px;
  }

  .card:nth-child(2) {
    .card__inner {
      box-shadow: 0px 0px transparent;
      margin-top: 0;
      height: 100%;

      .card__body {
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }

      .card__svg {
        flex-basis: 10%;
        margin-left: 0;
        height: 93px;
        width: 93px;
      }

      .card__p {
        flex-basis: 70%;
        font-size: 20pt;
        margin: 37px 0 47px 0;
      }

      .card__button {
        outline: none;
        cursor: pointer;
        border: 0;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 20pt;
        border-radius: 31.88px;
        padding: 6px 27px;
        margin-left: 12px;
        background-color: $cardButtonSmBgColor;
        margin-bottom: 36px;
      }

      .card__title {
        margin: 20px 0 8px;
        font-size: 44pt;
        letter-spacing: 6px;
        color: $cardTitleColor;
      }

      .card__title_bold {
        font-size: 51pt;
      }
    }
  }

  .card__svg {
    flex-basis: 10%;
    margin-left: 0;
    height: 93px;
    width: 93px;
  }

  .card__p {
    flex-basis: 70%;
    font-size: 20pt;
    margin: 37px 0 47px 0;
    color: $cardParagraphSmColor;
  }

  .card__line {
    display: none;
  }
}
