@import "./base/mixins";
@import "./base/media_mixins";

.events-section {
  display: flex;
  flex-flow: column nowrap;
  background-color: #e8e8e8;
  padding-bottom: 52px;
}

.events-section__head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0 95px 0;
}

.events-section__title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50pt;
  letter-spacing: 6px;
  color: #037693;
  margin-left: -22px;
}

.events-section__title::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #037693;
  border-radius: 20px;
  width: 47%;
  margin-top: 12px;
  margin-left: 3px;
}

.events-section__body {
  margin: 0 auto;
  width: 70.9%;
  display: flex;
}

.card {
  position: relative;
  flex: 1;
  width: calc(100% / 3);
}

.card__inner {
  background-color: white;
  @include box-shadow(0px 2px 2px 1px rgba(0, 0, 0, 0.2));
}

.card:first-child .card__inner {
  margin-right: 70px;
}

.card:last-child .card__inner {
  margin-left: 44px;
}

.card:nth-child(2) {
  z-index: 1;
  margin: 0 -97px;
}

.card:nth-child(2) .card__inner {
  height: calc(100% + 49px);
  margin-top: -45px;
  box-shadow: 0 0 25px rgba(0 0 0 / 25%);

  .card__head {
    padding: 32px 0px;
  }

  .card__body {
    padding: 10px 0 45px 0;
  }

  .card__svg {
    margin-left: -9px;
    height: 90px;
    width: auto;
  }

  .card__title {
    line-height: 93px;
    margin-right: 8px;
  }

  .card__title_bold {
    font-size: 59pt;
  }

  .card__p {
    margin: 4px 0 19px 0;
  }

  .card__button {
    padding: 8px 31.7px;
    margin-left: -2px;
    font-size: 22.3pt;
  }
}

.card__head {
  padding: 30px 10px;
  background-image: url("../images/main/bg-img-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.card__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 52pt;
  color: white;
  line-height: 1.2em;
}

.card__title_bold {
  font-weight: 600;
}

.card__line {
  height: 4px;
  border: 0;
  margin: 3px 0;
}

.card__line_color_green {
  background-color: #4ca59a;
}
.card__line_color_red {
  background-color: #f26250;
}

.card__line_color_yellow {
  background-color: #f0a765;
}

.card__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 14px 0 42px 0;
  box-sizing: border-box;
}

.card__svg {
  margin-left: 11px;
  height: 70px;
  width: 70px;
}

.card__p {
  width: 74%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.5em;
  margin: 4px 0 9px 0;
}

.card__button {
  outline: none;
  cursor: pointer;
  border: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20pt;
  border-radius: 31.88px;
  padding: 6px 27px;
  color: white;
  margin-left: 12px;
}

.card__button_color_green {
  background-color: #4ca59a;
}
.card__button_color_red {
  background-color: #f26250;
}

.card__button_color_yellow {
  background-color: #f0a765;
}

@include lg {
  .events-section {
    padding-bottom: 357px;
  }

  .events-section__head {
    margin: 150px 0 199px 0;
  }

  .events-section__title {
    margin-left: -6px;
    font-size: 48pt;
    letter-spacing: 5px;

    &::after {
      height: 5px;
      margin-left: 3px;
      margin-top: 11px;
    }
  }

  .events-section__body {
    width: 96.9%;
  }
}

@include sm {
  .events-section {
    padding-bottom: 0;
  }

  .events-section__head {
    display: none;
  }

  .events-section__body {
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
  }

  .card {
    width: 100%;
  }

  .card__inner {
    @include box-shadow(initial);
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card:last-child .card__inner {
    margin: 0;
  }

  .card:first-child .card__inner {
    margin: 0;
  }

  .card__head {
    padding: 38px 10px;
  }

  .card__title {
    font-size: 43pt;
  }

  .card__body {
    padding: 14px 0 72px 0;
  }
}
