@import "./base/media_mixins";

.features-section {
  padding-bottom: 118px;
}

.features-section__head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 89px;
}

.features-section__title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50pt;
  margin-left: 49px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #037693;
}

.features-section__title::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #037693;
  border-radius: 20px;
  width: 36%;
  margin-top: 11px;
  margin-left: 3px;
}

.features-section__body {
  width: 67%;
  margin: 0 auto;
  margin-top: 72px;
}

.show-grid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 3px;
}

.show-grid__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:first-child {
    .show-grid__svg {
      margin-top: 17px;
    }

    .show-grid__text {
      margin-bottom: 34px;
    }

    .show-grid__el::before {
      display: none;
    }
  }

  &:last-child {
    .show-grid__el {
      flex-wrap: wrap;
    }

    .show-grid__cell {
      flex-basis: 99%;
    }

    .show-grid__el::after {
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  &:last-child {
    .show-grid__cell {
      margin: 0 auto;
    }

    &::after {
      display: none;
    }
  }
}

.show-grid__el {
  position: relative;
  display: flex;
  height: 168px;
  width: 32.8%;

  &:last-child {
    .show-grid__cell {
      margin: 0 auto;
    }

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    height: 77.6%;
    width: 2px;
    background-color: #037693;
    display: block;
    margin-left: auto;
    margin-bottom: auto;
  }

  &::before {
    content: "";
    height: 2px;
    width: 80.6%;
    margin-left: auto;
    margin-right: auto;
    background-color: #037693;
    display: block;
  }
}

.show-grid__cell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.show-grid__svg {
  margin-left: 9px;
  margin-top: 34px;
  height: 67px;
  width: auto;
}

.show-grid__text {
  margin-bottom: 21px;
  letter-spacing: 0.7px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #037693;
}

@include lg {
  .features-section {
    padding-bottom: 82px;
  }

  .features-section__head {
    margin-top: 140px;
  }

  .features-section__title {
    margin-left: -8.7px;
    letter-spacing: 4.8px;
    font-size: 43pt;

    &::after {
      height: 3.2px;
      margin-top: 11.1px;
      margin-left: 2px;
    }
  }

  .features-section__body {
    margin-top: 2px;
    width: 100%;
  }

  .show-grid {
    flex-direction: row;
    margin-left: 0;
  }

  .show-grid__text {
    margin-bottom: 0;
    margin-right: 36px;
    letter-spacing: 1.1px;
    word-spacing: 3.9px;
    font-size: 44pt;
  }

  .show-grid__el::after {
    margin-left: 0;
    margin-top: auto;
    height: 61.6%;
  }

  .show-grid__row {
    flex-direction: column;
    flex-basis: 50%;

    &:first-child {
      .show-grid__svg {
        margin-top: 0;
      }

      .show-grid__text {
        margin-bottom: 0;
      }

      .show-grid__el {
        &:first-child {
          &::before {
            display: none;
          }
        }

        &::before {
          display: block;
        }
      }

      .show-grid__el {
        flex-wrap: wrap;
      }

      .show-grid__cell {
        flex-basis: 80%;
      }
    }

    &:last-child {
      .show-grid__svg {
        margin-top: 0;
      }

      .show-grid__el {
        flex-wrap: wrap;
      }

      .show-grid__cell {
        flex-basis: 99%;
      }

      .show-grid__el::after {
        display: none;
      }

      .show-grid__el:first-child {
        &::before {
          display: none;
        }
      }
    }
  }

  .show-grid__el {
    width: 100%;
    height: 396px;
    &:last-child {
      &::after {
        display: block;
      }
    }
  }

  .show-grid__cell {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px;
  }

  .show-grid__svg {
    height: 129px;
    margin-top: 0;
  }
}

@include sm {
  .features-section {
    padding-bottom: 94px;
  }

  .features-section__head {
    margin-top: 36px;
  }

  .features-section__title {
    margin-left: 34.3px;
    font-size: 33pt;

    &::after {
      height: 2.8px;
      margin-top: 8.1px;
    }
  }
}
