@import "./base/media_mixins";

.features-section {
  padding-bottom: 116px;
}

.features-section__head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 89px;
}

.features-section__title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50pt;
  margin-left: 49px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #037693;
}

.features-section__title::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #037693;
  border-radius: 20px;
  width: 36%;
  margin-top: 11px;
  margin-left: 3px;
}

.features-section__body {
  width: 67%;
  margin: 0 auto;
  margin-top: 72px;
}

.show-grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-left: 3px;
}

.show-grid__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid #037693;

  &:first-child {
    .show-grid__cell {
      position: relative;

      &:first-child::after {
        content: "";
        background-color: white;
        position: absolute;
        left: calc(-75px / 2);
        bottom: calc(-75px / 2);
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }

      &:nth-child(2)::after {
        content: "";
        background-color: white;
        position: absolute;
        left: calc(-75px / 2);
        bottom: calc(-75px / 2);
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }

      &:last-child::before {
        content: "";
        background-color: white;
        position: absolute;
        left: calc(-75px / 2);
        bottom: calc(-75px / 2);
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }

      &:last-child::after {
        content: "";
        background-color: white;
        position: absolute;
        right: calc(-75px / 2);
        bottom: calc(-75px / 2);
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  &:first-child {
    .show-grid__svg {
      margin-top: 17px;
    }

    .show-grid__text {
      margin-bottom: 33px;
    }
  }
}

.show-grid__cell {
  height: 168px;
  width: 32.8%;
  border-right: 2px solid #037693;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    border-right: 0;
  }
}

.show-grid__svg {
  margin-left: 9px;
  margin-top: 34px;
  height: 67px;
  width: 64px;
}

.show-grid__text {
  margin-bottom: 21px;
  letter-spacing: 0.7px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #037693;
}

@include lg {
  .features-section {
    padding-bottom: 855px;
  }

  .features-section__head {
    margin-top: 138px;
  }

  .features-section__title {
    margin-left: -8.7px;
    letter-spacing: 4.8px;
    font-size: 43pt;

    &::after {
      height: 3.2px;
      margin-top: 11.1px;
      margin-left: 2px;
    }
  }

  .features-section__body {
    margin-top: 80px;
  }
}
