@import "./base/media_mixins";

.footer {
  background-color: #0d0d0d;
  padding-top: 101px;
  line-height: normal;
}

.footer__inner {
  width: 80.8%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__column {
  flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  flex: 0 1 auto;
}

.footer__column_low {
  margin-top: 92px;
}

.footer__about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;

  flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  flex: 0 1 auto;
}

.footer__logo {
  margin-bottom: 51px;
  width: 110px;
  height: auto;
}

.footer__p {
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16pt;
  color: #fff;
  line-height: 1.265em;
}

.footer__subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16pt;
  margin-bottom: 27px;
  letter-spacing: 0.4px;
}

.footer__lowtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 14pt;
  margin-bottom: 31px;
  letter-spacing: -0.3px;
}

.footer__navigation {
  padding-left: 206px;
  box-sizing: border-box;
  flex-basis: 50%;
  width: 50%;
  max-width: 50%;
  flex: 0 1 auto;
  display: flex;
  .footer__column_low {
    flex-basis: 50%;
    width: 50%;
    flex: 0 1 auto;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 51px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.footer__menu {
  display: flex;
  flex-flow: column nowrap;
}

.footer__link {
  margin-bottom: -0.6px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__a {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
}

.footer__socials {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .footer__subtitle {
    margin-bottom: 33px;
  }
}

.socials-list {
  display: flex;
}

.socials-list__icon {
  height: 25px;
  width: 25px;
  margin-right: 46px;
  &:last-child {
    margin-right: 0;
  }
}

.socials-list__a {
  text-decoration: none;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  display: flex;
}

.socials-list__svg {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.footer__socials-list {
  margin-bottom: 39px;
  margin-right: 11px;
}

.footer__input {
  border-bottom: 1px solid white;
  width: 77.6%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 4px;
}

.input {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
  color: white;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-bottom: 5px;
  text-align: center;

  &::placeholder {
    padding-left: 46px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  &::-webkit-input-placeholder {
    padding-left: 46px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  &::-moz-placeholder {
    padding-left: 46px;
    letter-spacing: 0.8px;
    text-align: center;
  }
}

.letter-icon {
  height: 30px;
  width: 30px;
  background-color: springgreen;
  margin-left: auto;
}

.footer__privacy {
  margin: 137px 0 34px;
  flex-basis: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 17pt;
  color: #fff;
  word-spacing: -1px;
  letter-spacing: 0.2px;
}

@include lg {
  .footer {
    padding-top: 163px;
  }

  .footer__inner {
    flex-flow: column wrap;
    width: 82.7%;
  }

  .footer__about {
    padding-left: 0;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;

    width: 91%;
    max-width: initial;
    margin: 0 auto;
  }

  .footer__logo {
    margin-bottom: 73.2px;
    width: 220px;
  }

  .footer__column {
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
  }

  .footer__p {
    font-weight: 300;
    font-size: 46pt;
    line-height: 86px;
    width: 96.6%;
  }

  .footer__navigation {
    max-width: initial;
    flex-basis: initial;
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    .footer__column_low {
      width: initial;
      flex-basis: initial;
      max-width: initial;

      &:nth-child(2) {
        margin-right: -5px;
      }
    }
  }

  .footer__column_low {
    margin-top: 151px;
    padding-right: 6px;
  }

  .footer__subtitle {
    font-size: 43pt;
    margin-bottom: 73.5px;
    letter-spacing: 0.4px;
  }

  .footer__menu {
    padding-left: 5px;
  }

  .footer__socials.footer__column_low {
    margin-top: 80px;
    margin-right: 77.5px;
  }

  .footer__socials {
    .footer__subtitle {
      font-size: 58pt;
      margin-bottom: 119px;
      letter-spacing: 0.1px;
      word-spacing: 7.7px;
      margin-left: 15px;
    }
  }

  .footer__link {
    margin-bottom: 4.8px;
  }

  .footer__a {
    font-size: 33pt;
    word-spacing: -3px;
    letter-spacing: 3.2px;
  }

  .socials-list__icon {
    margin-right: 236px;
  }

  .socials-list__a {
    height: auto;
    width: 92px;
  }

  .footer__socials-list {
    margin-bottom: 209px;
    margin-right: 76px;
  }

  .footer__lowtitle {
    font-size: 47pt;
    letter-spacing: 0.6px;
    word-spacing: 5.5px;
    margin-left: 17.1px;
    margin-bottom: 115px;
  }

  .footer__input {
    width: 96.3%;
    padding-bottom: 18px;
    box-sizing: border-box;
    border-bottom: 4px solid white;
  }

  .input {
    font-size: 60px;
    &::placeholder {
      box-sizing: border-box;
      padding-left: 190px;
      letter-spacing: 1.7px;
      word-spacing: 1px;
      font-size: 60px;
    }

    &::-webkit-input-placeholder {
      box-sizing: border-box;
      padding-left: 190px;
      letter-spacing: 1.7px;
      word-spacing: 1px;
      font-size: 60px;
    }

    &::-moz-placeholder {
      box-sizing: border-box;
      padding-left: 190px;
      letter-spacing: 1.7px;
      word-spacing: 1px;
      font-size: 60px;
    }
  }

  .envelop-icon {
    width: 8.9%;
    height: auto;
    margin-right: 17px;
  }

  .footer__privacy {
    margin: 339px 0 64px;
    font-size: 43pt;
    letter-spacing: 1.4px;
  }
}

@include sm {
  .footer {
    padding-top: 78px;
  }

  .footer__logo {
    width: 107px;
    margin-right: 0;
    margin-bottom: 35.2px;
  }

  .footer__p {
    font-size: 22pt;
    line-height: 41px;
    width: 96%;
  }

  .footer__navigation {
    display: none;
  }

  .footer__socials.footer__column_low {
    margin-top: 139px;
    margin-right: 0;
  }

  .footer__socials {
    &.footer__column_low {
      margin: 0 auto;
      margin-top: 139px;
    }
    .footer__subtitle {
      font-size: 28pt;
      margin-bottom: 57px;
      letter-spacing: 0.1px;
      word-spacing: 3px;
      margin-left: -5px;
    }
  }

  .socials-list {
    margin-right: 37px;
    margin-bottom: 88.4px;
  }

  .socials-list__icon {
    margin-right: 100px;
  }

  .footer__a {
    font-size: 33pt;
    word-spacing: -3px;
    letter-spacing: 3.2px;
  }

  .socials-list__a {
    height: auto;
    width: 44px;
  }

  .footer__lowtitle {
    font-size: 22pt;
    margin-left: -3.9px;
    letter-spacing: 0.6px;
    word-spacing: 2.5px;
    margin-bottom: 55px;
  }

  .footer__input {
    margin-right: 20px;
    width: 94%;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
  }

  .input {
    font-size: 30px;
    &::placeholder {
      box-sizing: border-box;
      word-spacing: 1px;
      font-size: 30px;
      padding-right: 75px;
      letter-spacing: 0.4px;
    }

    &::-webkit-input-placeholder {
      box-sizing: border-box;
      word-spacing: 1px;
      font-size: 30px;
      padding-right: 75px;
      letter-spacing: 0.4px;
    }

    &::-moz-placeholder {
      box-sizing: border-box;
      word-spacing: 1px;
      font-size: 30px;
      padding-right: 75px;
      letter-spacing: 0.4px;
    }
  }

  .envelop-icon {
    margin-bottom: 5px;
    margin-right: 9px;
    width: 9.4%;
  }

  .footer__privacy {
    margin: 187.8px 0 37px;
    font-size: 20.2pt;
    word-spacing: 4px;
    letter-spacing: 0.3px;
    margin-left: -9px;
  }
}
