.footer {
  background-color: #0d0d0d;
  padding-top: 101px;
  line-height: normal;
}

.footer__inner {
  width: 80.8%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__column {
  flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  flex: 0 1 auto;
}

.footer__column_low {
  margin-top: 92px;
}

.footer__about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
}

.footer__logo {
  margin-bottom: 51px;
  width: 110px;
  height: auto;
}

.footer__p {
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16pt;
  color: #fff;
  line-height: 1.265em;
}

.footer__subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16pt;
  margin-bottom: 27px;
  letter-spacing: 0.4px;
}

.footer__lowtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 14pt;
  margin-bottom: 31px;
  letter-spacing: -0.3px;
}

.footer__navigation {
  padding-left: 206px;
  box-sizing: border-box;
  flex-basis: 50%;
  width: 50%;
  max-width: 50%;
  flex: 0 1 auto;
  display: flex;
  .footer__column_low {
    flex-basis: 50%;
    width: 50%;
    flex: 0 1 auto;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 51px;
    &:first-child {
      padding-left: 0;
    }
  }
}

.footer__menu {
  display: flex;
  flex-flow: column nowrap;
}

.footer__link {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 14pt;
  color: #fff;
  margin-bottom: -0.6px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__socials {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.socials-list {
  display: flex;
}

.socials-list__icon {
  height: 25px;
  width: 25px;
  margin-right: 46px;
  &:last-child {
    margin-right: 0;
  }
}

.socials-list__svg {
  width: 100%;
  height: auto;
}

.footer__socials-list {
  margin-top: 5px;
  margin-bottom: 39px;
  margin-right: 11px;
}

.footer__input {
  border-bottom: 1px solid white;
  width: 77.6%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 4px;
}

.input {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
  color: white;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-bottom: 5px;
  &::placeholder {
    padding-left: 46px;
    letter-spacing: 0.8px;
    text-align: center;
  }
  &::-webkit-input-placeholder {
    padding-left: 46px;
    letter-spacing: 0.8px;
    text-align: center;
  }
  &::-moz-placeholder {
    padding-left: 46px;
    letter-spacing: 0.8px;
    text-align: center;
  }
}

.letter-icon {
  height: 30px;
  width: 30px;
  background-color: springgreen;
  margin-left: auto;
}

.footer__privacy {
  margin: 137px 0 34px;
  flex-basis: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 17pt;
  color: #fff;
  word-spacing: -1px;
  letter-spacing: 0.2px;
}
