@import "./base/media_mixins";

.interact-section {
  background-color: #037693;
  position: relative;
}

.interact-section__inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  padding: 45px 0 50px 0;
}

.interact-section__column {
  display: flex;
  flex-flow: column nowrap;
}

.interact-section__column_size_sm {
  flex-basis: 42%;
}

.three-diamond-square {
  position: relative;
  height: 100%;
  &:nth-child(2) {
    .three-diamond-square__square {
      top: -6.2%;
      left: 43%;
    }
  }
  &:nth-child(3) {
    .three-diamond-square__square {
      top: -44.2%;
      left: 10%;
    }
  }
}

.three-diamond-square__square {
  position: absolute;
  top: 31.8%;
  left: 10%;
  width: 273px;
  height: 273px;
  background-image: url("../images/interaction/rounded-diamond-square.svg");
  background-size: 100% 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
}

.three-diamond-square__icon {
  position: absolute;
  top: 16%;
  left: 35%;
  width: 84px;
  height: auto;
}

.three-diamond-square__text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20pt;
  margin-top: 61px;
  line-height: 30px;
}

.interact-section__column_size_md {
  flex-basis: 58%;
  padding-left: 53px;
}

.interact-section__title {
  width: 55%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 49pt;
  color: white;
  line-height: 1.22em;
  letter-spacing: -0.5px;
  word-spacing: 5px;
}

.interact-section__slogan {
  margin: 26px 0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24pt;
  word-spacing: 0.1em;
  color: white;
  display: flex;
  margin-left: 2px;

  &::after {
    content: " ";
    flex: 1;
    height: 1px;
    background-color: white;
    margin-top: 25px;
    margin-right: 27.7%;
    margin-left: 1%;
    display: block;
  }
}

.interact-section__text {
  margin-top: 32px;
}

.interact-section__p {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16pt;
  line-height: 1.25em;
  color: white;
  &:last-child {
    margin-bottom: 0;
  }
}

.three-diamond-square__elem {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #f1b451;
  position: relative;
  top: -50px;
}

.three-diamond-square__elem::after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #f1b451;
}

@include lg {
  .interact-section__inner {
    width: 84%;
    padding: 45px 0 41px 0;
  }

  .interact-section__column_size_md {
    padding-top: 115px;
    padding-left: 88px;
    flex-basis: 75%;
  }

  .interact-section__column_size_sm {
    flex-basis: 25%;
    display: flex;
    flex-flow: column nowrap;
    padding: 6px 0;
    padding-left: 56px;
    box-sizing: border-box;
  }

  .interact-section__title {
    width: 100%;
    letter-spacing: -0.1px;
    word-spacing: 4px;
    font-size: 30pt;
  }

  .interact-section__slogan {
    margin: 32px 0;
    font-size: 32pt;
    display: block;
    text-align: center;
    margin-right: 74.2px;
    word-spacing: -1.3px;
    letter-spacing: 2.2px;

    &::after {
      margin: 0 auto;
      height: 1px;
      background-color: white;
      width: 35.6%;
      margin-top: 21px;
    }
  }

  .interact-section__text {
    margin-top: 69.3px;
  }

  .interact-section__p {
    font-size: 19.6pt;
    word-spacing: 6px;
    letter-spacing: -0.5px;
    line-height: 34px;
    margin-bottom: 0;
  }

  .three-diamond-square {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &:nth-child(2) {
      .three-diamond-square__square {
        top: initial;
        left: initial;
      }
    }

    &:nth-child(3) {
      .three-diamond-square__square {
        top: initial;
        left: initial;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .three-diamond-square__square {
    width: 219px;
    height: 219px;
    position: relative;
    top: initial;
    left: initial;
  }

  .three-diamond-square__icon {
    width: 70px;
  }

  .three-diamond-square__text {
    font-size: 15pt;
  }
}
