@import "./base/media_mixins";

.main-section {
  background-image: url("../images/main/bg-img-1.jpg");
  height: 106.1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.phone {
  position: absolute;
  bottom: -20%;
  right: 11.5%;
  height: 91.2%;
}

.main-section__inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 42.5%;
  margin-top: 292px;
}

.main-section__title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 7px rgba(0, 0, 0, 0.7);
  margin-left: 44px;
  letter-spacing: -1px;
  word-spacing: 1px;
}

.main-section__title::after {
  content: "";
  display: block;
  height: 8px;
  background-color: white;
  border-radius: 20px;
  width: 36%;
  margin-top: 16px;
  margin-left: auto;
}

.main-section__slogan {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 29pt;
  color: white;
  word-spacing: 4px;
  margin-right: 34px;
  letter-spacing: 0px;
}

.main-section__controllers {
  margin-top: 168px;
  margin-left: 47px;
  display: flex;
  height: 61px;
}

.main-section__button {
  margin-right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  cursor: pointer;
  border: 1px solid white;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 19pt;
  letter-spacing: -0.1px;
  word-spacing: 4px;
}

.input-button {
  display: flex;
  border: 1px solid white;
}

.input-button__button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 19pt;
  letter-spacing: 0px;
  word-spacing: 4px;
  padding-right: 14px;
  height: 100%;
  width: 144px;
}

.input-button__input {
  outline: none;
  border: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18pt;
  color: #037693;
  width: 139px;
  height: auto;
  letter-spacing: -1px;

  &::placeholder {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: #037693;
    text-align: center;
  }
}

@include lg {
  .main-section {
    height: 96.5%;
  }

  .main-section__inner {
    margin-top: 238px;
    height: 42.1%;
    width: 70%;
  }

  .main-section__title {
    font-size: 38pt;
    word-spacing: -4px;
    letter-spacing: 1.5px;
    margin-left: 44px;
  }

  .main-section__title::after {
    height: 7px;
    margin-top: 12px;
  }

  .main-section__slogan {
    font-size: 24pt;
    letter-spacing: 0px;
    word-spacing: 2px;
    margin-right: 20px;
  }

  .main-section__controllers {
    height: 48px;
    margin-top: 137px;
    margin-left: 45px;
  }

  .main-section__button {
    font-size: 14pt;
    letter-spacing: 1px;
    word-spacing: 1.4px;
    width: 177px;
    margin-right: 43px;
  }

  .input-button__button {
    font-size: 15pt;
    letter-spacing: -0.2px;
    word-spacing: 4.1px;
    width: 117px;
  }

  .input-button__input {
    width: 111px;
    font-size: 15pt;
  }

  .phone {
    bottom: -19.6%;
    right: 11%;
    height: 90.5%;
  }
}

@include sm {
  .main-section {
    height: 53.8%;
  }

  .main-section__inner {
    padding-top: 151.1px;
    margin: 0;
    height: 51.1%;
    width: 100%;
  }

  .main-section__title {
    margin: 0;
    font-size: 30.6pt;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.7);
  }

  .main-section__title::after {
    height: 4px;
  }

  .main-section__slogan {
    margin: 0;
    margin-bottom: 51px;
    font-size: 19.2pt;
    margin-right: 50px;
    word-spacing: 3px;
  }

  .main-section__controllers {
    width: 74.1%;
    height: 59px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .main-section__button {
    margin: 0;
    font-size: 16.2pt;
    width: 214px;
  }

  .input-button__button {
    width: 143px;
    font-size: 19.6pt;
  }

  .input-button__input {
    width: 139px;
  }

  .phone {
    display: none;
  }
}
