.partners-section {
  padding-bottom: 76px;
  background-image: linear-gradient(rgba(#323131, 0.8), rgba(#323131, 0.8)),
    url("../images/partners/bg.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.partners-section__head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.partners-section__title {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50pt;
  margin-left: 47px;
  letter-spacing: 6px;
}

.partners-section__title::after {
  content: "";
  display: block;
  height: 5px;
  background-color: white;
  border-radius: 20px;
  width: 37%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: 10px;
}

.partners-section__body {
  width: 95%;
  margin: 0 auto;
}

.partners-section__scroll {
  margin-top: 109px;
}

.horizontal-scoll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-scoll__controller {
  height: 45px;
  width: 45px;
}

.horizontal-scroll__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 60px;
}

.horizontal-scroll__icon {
  display: flex;
  height: 36px;
  width: calc(100% / 7);
  justify-content: center;
}

.horizontal-scroll__svg {
  height: 100%;
  width: auto;
  &:hover {
    fill: white;
  }
}
